<h1>Model Driven Form </h1>
<form [formGroup]="form">
    <div>
        <label for="account">帳號：</label>
        <input type="text" formControlName="account">
        <div class="errors">
            <span *ngIf="form.get('account').hasError('minlength')">帳號最少輸入5個字!</span>
            <!-- <span *ngIf="form.controls.account.invalid && form.controls.account.dirty && form.controls.account.touched ">帳號最少輸入5個字!!!!</span> -->
            <span *ngIf="form.get('account').hasError('required')">請輸入帳號!</span>

            
        </div>
    </div>

    <div>
        <label for="password">密碼：</label>
        <input type="text" formControlName="password">
        <div class="errors">
            <span *ngIf="form.get('password').hasError('required')">請輸入密碼!</span>
        </div>
    </div>
    <div>
        <pre>{{ form.value | json }}</pre>
    </div>

    <button type="submit ">送出</button>
    <button type="button " (click)="reset() ">重置表單</button>



</form>